footer.footer
  .container
    .footer-container
      .footer-column
        a.footer-logo(href="#")  MoGo
        .footer-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .footer-followers <span>15k</span> followers
        .footer-social
          span.footer-social-text Follow Us:
          a.footer-social-link(href="#")
            i.fab.fa-facebook-f
          a.footer-social-link(href="#")
            i.fab.fa-twitter
          a.footer-social-link(href="#")
            i.fab.fa-instagram
          a.footer-social-link(href="#")
            i.fab.fa-pinterest-p
          a.footer-social-link(href="#")
            i.fab.fa-google
          a.footer-social-link(href="#")
            i.fab.fa-youtube
        .footer-form
          input.footer-form-input(type="text" placeholder="Your Email...")
          button.footer-form-button Subscribe
      .footer-column
        .footer-title Blogs
        .footer-blogs
          a.footer-blogs-item(href="#") 
            img.footer-blogs-img(src="images/img-blogs1.png")
            .footer-blogs-info
              .footer-blogs-title Lorem ipsum dolor sit amet, consectetur adipisicing
              .footer-blogs-desc Jan 11, 2016
          a.footer-blogs-item(href="#") 
            img.footer-blogs-img(src="images/img-blogs2.png")
            .footer-blogs-info
              .footer-blogs-title Lorem ipsum dolor sit amet, consectetur adipisicing
              .footer-blogs-desc Jan 10, 2016
          a.footer-blogs-item(href="#") 
            img.footer-blogs-img(src="images/img-blogs3.png")
            .footer-blogs-info
              .footer-blogs-title Lorem ipsum dolor sit amet, consectetur adipisicing
              .footer-blogs-desc Jan 9, 2016
      .footer-column  
        .footer-instagram
          .footer-instagram-title Instagram
          .footer-instagram-box
            img.footer-instagram-img(src="images/img-instagram1.png", alt="")
            img.footer-instagram-img(src="images/img-instagram2.png", alt="")
            img.footer-instagram-img(src="images/img-instagram3.png", alt="")
            img.footer-instagram-img(src="images/img-instagram4.png", alt="")
            img.footer-instagram-img(src="images/img-instagram5.png", alt="")
            img.footer-instagram-img(src="images/img-instagram6.png", alt="")
            img.footer-instagram-img(src="images/img-instagram7.png", alt="")
            img.footer-instagram-img(src="images/img-instagram8.png", alt="")
            img.footer-instagram-img(src="images/img-instagram9.png", alt="")
          .footer-instagram-text View more photos
    .footer-bottom &copy; Mogo free PSD template by <span>Laaqiq</span>      
