section.number
  .container
    .number-list
      .number-item
        .number-item-count 42
        .number-item-text Web design projects
      .number-item
        .number-item-count 123
        .number-item-text Happy client
      .number-item
        .number-item-count 15
        .number-item-text Award winner
      .number-item
        .number-item-count 90
        .number-item-text Cup of coffee
      .number-item
        .number-item-count 24
        .number-item-text Members