.quote
	.container
		.quote-list
			+quoteItem("images/img-quote-avatar.png", "\"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua\"", "Joshua Earle", "false")
			+quoteItem("images/img-quote-avatar.png", "\"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua\"", "Joshua Earle", "false")
			+quoteItem("images/img-quote-avatar.png", "\"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet\"", "Joshua Earle", "false")
			+quoteItem("images/img-quote-avatar.png", "\"Lorem ipsum dolor sit amet, consectetur adipisicing elit,  aliqua.Lorem ipsum dolor sit amet\"", "Joshua Earle", "false")