.about {
  padding-top: 9rem;
  padding-bottom: 11rem;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }
  &-content {
    color: white;
    text-transform: uppercase;
    padding: 2rem;
    text-align: center;
  }
  &-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  &-text {
    font-size: 1.5rem;
    font-weight: bold;
    @include textClamp(2);
  }
  @include maxWidth("767px") {
    padding-top: 5rem;
    padding-bottom: 7rem;
    @include scrollItem;
    &-item {
      scroll-snap-align: none;
      img {
        width: 100%;
      }
    }
  }
}

@include hoverImage;